.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.navbar_brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar_links {
  display: flex;
  align-items: center;
}

.navbar_links button {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  background: none;
  font-size: larger;
  width: 100px;
}

.navbar_links button:hover {
  color: #ccc;
  cursor: pointer;
}

.profile_popover {
  position: relative;
}

.profile_popover a {
  text-decoration: none;
  color: white;
}

.popover {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.profile_popover.open .popover {
  display: block;
}

.popover h3 {
  margin: 10px 0;
  color:  #333;
}

.popover p {
  margin: 5px 0;
  color:  #333;
}

.popover a {
  display: block;
  margin-top: 10px;
  color:  #333;
  border: 2px solid silver;
  border-radius: 10px;
  text-align: center;
}
